@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
	font-family: tahoma, arial, sans-serif, 'lucida grande';
}
header{
	background-image: url(file:///C|/Users/DUY%20TAN/Unnamed%20Site%202/1617486_10152682640464235_4815511256472793107_o.jpg);
	height:100vh;
	background-size: cover;
	background-position:center;
}
ul{
	float: right;
	list-style-type: none;
	margin-top: 40px;
}
ul li {
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: #FFFFFF;
	padding: 4px 40px;
	transition: 0.6s ease;
	
}
ul li a:hover{
	background-color: #FFFFFF;
	color: #000000;
	
}
.logo img{
	float: left;
	width: 200px;
	height: auto;
}
.title{
	position: absolute;
	top: 39%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title h1{
	color:rgba(0,0,0,1.00);
	font-size: 70px;
}
.button{
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.btn{
	
	color: #FFFFFF;
	text-decoration: none;
	transition: 0.6s ease;
}
.btn:hover{
	background-color: #FFFFFF;
	color: #000000;
	
}

a{
	text-decoration: none;
	color: #FFFFFF;
}
p{
	font-size: 20px;
}
a:hover, a:hover p{
	color: #FFFFFF;
}
.container{
	width: 1200px;
	margin: auto;
}


/* SLICE */
.slice{
	margin-top: 30px;
	position: relative;
}
.slice .left{
	width: 400px;
	position: absolute;
	left: 75px;
	top: 210px;
}
.slice .left h2{
	font-size: 80px;
	color:#FFFFFF;
}
.left p{
	margin-top: 20px;
	color: #FFFFFF;
}
.btn{
	padding: 15px 55px;
	background-color:rgba(255,255,255,1.00);
	border-radius: 30px;
	color:rgba(0,0,0,1.00);
	font-size: 18px;
	text-transform: uppercase;
	cursor: pointer;
	border: none;
	margin-top: 20px;
}
.btn:hover{
	background-color: #000000;
}
.slice .right{
	position: absolute;
	bottom: 100px;
	right: 90px;
}
.hidden{
	background-color: rgba(0, 0, 0, 0);
	color:  #fff;
	margin-right: 30px;
	border: none;
	font-size: 40px;
	cursor: pointer;
}
.hidden:hover{
	color: #000000;
}

/* BANNER */
.banner{
	margin-top: 20px;
}
.bannerLeft{
	width: 680px;
	height: 590px;
	margin-right: 20px;
	float: left;
	background-image: url(file:///C|/Users/DUY%20TAN/Unnamed%20Site%202/95669178_10158545494629235_2356773246805737472_o.jpg);
	background-size: cover;
	position: relative;
}
.bannerRight{
	width: 500px;
	height: 700px;
	float: left;
	background-image: url(file:///C|/Users/DUY%20TAN/Unnamed%20Site%202/117112061_10158833673014235_3345673047863094281_o.jpg);
	background-size: cover;
	position: relative;
}
.textL{
	position: absolute;
	left: 400px;
	bottom: 75px;
	font-size: 60px;
	color: #FFFFFF;
}
.view1{
	position: absolute;
	bottom: 50px;
	left: 440px;
	text-transform: uppercase;
}
.textR{
	position: absolute;
	left: 30px;
	top: 155px;
	font-size: 60px;
	color: #FFFFFF;
}
.view2{
	position: absolute;
	top: 310px;
	left: 30px;
	text-transform: uppercase;
}

/* CONTENT */
#title{
	margin-bottom: 20px;
	font-size: 50px;
}
.sp, .ten, .gia, .mua{
	width: 285px;
	margin-left: 20px;
	float: left;
}
.sp:first-child, .ten:first-child, .gia:first-child, .mua:first-child{
	margin-left: 0;
}
.sp{
	overflow: hidden;
	margin-bottom: 20px;
}
.sp img{
	-webkit-transform: scale(1.5);
	   -moz-transform: scale(1.5);
	    -ms-transform: scale(1.5);
	     -o-transform: scale(1.5);
	        transform: scale(1.5);
}
.sp img:hover{
	-webkit-transform: scale(1.0);
	   -moz-transform: scale(1.0);
	    -ms-transform: scale(1.0);
	     -o-transform: scale(1.0);
	        transform: scale(1.0);
}
.ten p{
	color:rgba(255,255,255,1.00);
	text-align: center;
	margin-bottom: 10px;
}
.gia{
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	color:rgba(0,0,0,1.00);
	margin-bottom: 20px;
}
.gia span{
	font-size: 25px;
}
.mua{
	text-align: center;
}
.layer4{
	margin-bottom: 20px;
}

/* Banner 2 */
#baner1{
	width: 680px;
	height: 350px;
	margin-right: 20px;
	float: left;
	position: relative;
	background-image:url(file:///C|/Users/DUY%20TAN/Unnamed%20Site%202/89882241_10158348144099235_7316090065585700864_n.jpg);
	background-repeat: no-repeat;
	margin-top: 30px;
}
#baner2{
	width: 500px;
	height: 470px;
	float: left;
	background-image:url(file:///C|/Users/DUY%20TAN/Unnamed%20Site%202/107321272_10158758324204235_7188285811250017546_o.jpg);
	background-repeat: no-repeat;
	position: relative;
	margin-top: 30px;
}
.textL2{
	position: absolute;
	left: 400px;
	top: 89px;
	font-size: 60px;
	color: #FFFFFF;
}
.view3{
	position: absolute;
	bottom: 92px;
	left: 495px;
	text-transform: uppercase;
}
.textR2{
	position: absolute;
	left: 250px;
	top: 155px;
	font-size: 60px;
	color: #FFFFFF;
}
.view4{
	position: absolute;
	top: 305px;
	left: 365px;
	text-transform: uppercase;
}

/* FOOTER */
.about{
	width: 400px;
	float: left;
}
.about #trai{
	width: 70px;
	height: 38px;
	margin-top: 15px;
	margin-right: 20px;
	float: left;
}
.about #phai{
	font-size: 15px;
	width: 245px;
	color:rgba(0,0,0,1.00);
	float: left;
}
.contact{
	width: 300px;
	float: left;
}
.contact p{
	font-size: 16px;
	margin-top: 10px;
	color: #000000;
}
.contact span{
	font-size: 20px;
	font-weight: bold;
}
.link{
	width: 500px;
	float: left;
}
.link p{
	font-size: 16px;
	margin-top: 45px;
	color: #000000;
}